<!-- <app-chatbot></app-chatbot> -->
<!-- Sidebar -->
<!-- <div class="d-flex"> -->
  <!-- <nav class="sidebar bg-dark">
      <div class="p-3">
          <a href="#" class="navbar-brand">DressBetter</a>
          <hr>
          <ul class="nav flex-column">
              <li class="nav-item">
                  <a class="nav-link active" routerLink="/inicio" >Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/perfil">Perfil</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/historial">Historial</a>
              </li>
          </ul>
      </div>
  </nav> -->





  <!-- Contenido dinámico de las páginas -->
  <!-- <div id="page-content-wrapper" class="w-100">
    <router-outlet></router-outlet>
  </div>
</div> -->



<!-- Contenido dinámico de las páginas -->
<div id="page-content-wrapper" class="w-100">
  <router-outlet></router-outlet>
</div>
